<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Event Admin</title>

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
    </style>
</head>
<body>

{#% include "../template/include/header.html" %#}

<div class="container">

    <!--div class="row" id="wifipi_wifi" class="hide" style="border: 1px solid orange; background-color: red; padding: 10px; margin: 10px 0 10px 0;">
        You're using WifiPi
    </div-->

    <div class="row" style="padding: 10px; margin: 0 0 10px 0;">
        <div class="span10" id="">
            <iframe id="laptop" style="width: 1024px; height: 500px; border: 1px gray solid;" frameborder="0" src="/admin/event/slide/preview" class="preview-frame"></iframe><br />
            Laptop/iPad 预览 <div class="icon-arrow-up"></div>
        </div>
    </div>

    <div class="row" style="padding: 10px; margin: 0 0 10px 0;">
        <div class="span7" id="">
            Markdown格式编辑 <div class="icon-arrow-down"></div>

            <select id="slide-list"></select>
            <button id="slide-save">存储</button>
            <!--button id="slide-delete">删除</button-->
            <button id="slide-push">推送</button>
            <br />
            <textarea id="markdown-edit" style="width: 670px; height: 480px;"></textarea>
        </div>

        <div class="span3" id="">
            iPhone 预览 <div class="icon-arrow-down"></div><br />
            <iframe id="mobile" style="width: 320px; height: 480px; border: 1px gray solid;" frameborder="0" src="/admin/event/slide/preview" class="preview-frame"></iframe>
        </div>
    </div>

</div>
</body>

<script type="text/javascript" src="/static/js/underscore-1.5.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/js/coffee-script-1.6.3.min.js"></script>
<script type="text/coffeescript" src="/static/coffee/event/edit.coffee"></script>


</html>
