#header {
    background-color: #3bd7ea;
}

#upload{
    margin-top: 30px;
    border: 3px dashed gray;
    height: 380px;
    line-height: 380px;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.on_drag#upload {
    border: 3px dashed blue;
}

#picker{
    margin-top: 30px;
    margin-bottom: 10px;
    z-index: 10;
}